# This file is written in HOCON (Human-Optimized Config Object Notation) format. 
# For more information about HOCON see https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
    q { 
        description: Plugins
        bindings {
             a {actionId: OpenAtamanConfigAction, description: Open ~/.atamanrc.config}
             q {actionId: ReloadAtamanConfigAction, description: Reload ~/atamanrc.config}
             v {actionId: IdeaVim.ReloadVimRc.reload, description: Reload vimrc}
             i {actionId: VimFindActionIdAction, description: Track Action IDs}
        }
    }

    g {
        description: Git
        bindings {
            b {actionId: Git.Branches, description: Branches}
            h {actionId: Vcs.Show.Local.Changes, description: Show Changes}
            f {actionId: Git.Fetch, description: Fetch}
            r {actionId: Git.Rebase, description: Rebase}
            l {actionId: Vcs.Show.Log, description: Show Log}
            p {actionId: Vcs.Push, description: Push}
            s {actionId: Git.Stash, description: Stash}
            S {actionId: Git.Unstash, description: Unstash}
            c {actionId: CheckInProject, description: Commit}
            z {actionId: ChangesView.Revert, description: Rollback}
            u {actionId: Vcs.UpdateProject, description: Update}
            P {actionId: Bitbucket.CreatePullRequest, description: Bitbucket Pull Request}
        }
    }

    i {
        description: Splits
        bindings {
            o {actionId: MoveTabRight, description: Split and move right}
            i {actionId: SplitVertically, description: Split vertically}
            l {actionId: OpenEditorInOppositeTabGroup, description: Open Copy in Split}
            t {actionId: MoveEditorToOppositeTabGroup, description: Transfer tab}
            u {actionId: Unsplit, description: Unsplit}
            j {actionId: NextSplitter, description: Next Splitter}
            k {actionId: PrevSplitter, description: Previous Splitter}
        }
    }

    v {
        description: View
        bindings {
            i {actionId: QuickImplementations, description: Implementation}
            t {actionId: QuickTypeDefinition, description: Type Definition}
            d {actionId: QuickJavaDoc, description: Documentation}
            p {actionId: ParameterInfo, description: Parameters}
            u {actionId: ShowUsages, description: Usages}
            h {actionId: CallHierarchy, description: Callers}
            e {actionId: ExpressionTypeInfo, description: Expression type}
        }
    }

    w {
        description: Windows and Tabs
        bindings {
            w {actionId: CloseContent, description: Close}
            q {actionId: CloseAllEditors, description: Close All}
            r {actionId: CloseAllEditorsButActive, description: Close Other}
            j {actionId: NextTab, description: Next Tab}
            k {actionId: PreviousTab, description: Previous Tab}
            t {actionId: ReopenClosedTab, description: Reopen Tab}
        }
    }

    s {
        description: Search
        bindings {
            e {actionId: SearchEverywhere, description: Search Everywhere}
            a {actionId: GotoAction, description: Go To Actions}
            f {actionId: GotoFile, description: Files}
            c {actionId: GotoClass, description: Classes}
            s {actionId: GotoSymbol, description: Symbols}
            i {actionId: Find, description: Find In File}
            r {actionId: Replace, description: Replace In File}
            R {actionId: ReplaceInPath, description: Replace in Files}
            I {actionId: FindInPath, description: Find in Files}
        }
    }

    u {
        description: Run and Debug
        bindings {
            e {actionId: ExecuteInPyConsoleAction, description: Run in Python console}
            u {actionId: Run, description: Run}
            U {actionId: RunClass, description: Run Code}
            r {actionId: Rerun, description: Rerun}
            s {actionId: Resume, description: Resume}
        }
    }

    f {
        description: File
        bindings {
            b {actionId: ShowNavBar, description: Show Navbar}
            o {actionId: OpenFile, description: Open}
            f {actionId: RecentFiles, description: Recent}
            r {actionId: RecentChangedFiles, description: Recent Changed Files}
            p {actionId: SelectInProjectView, description: Select In Project View}
            c {actionId: CopyAbsolutePath, description: Copy filepath}
            t {actionId: NewScratchBuffer, description: Scratch Buffer}
        }
    }

    h {
        description: File History
        bindings {
            h {actionId: VcsShowCurrentChangeMarker, description: Current Change}
            c {actionId: RecentChanges, description: Recent Changes}
            j {actionId: VcsShowNextChangeMarker, description: Next Change}
            k {actionId: VcsShowPrevChangeMarker, description: Previous Change}
            z {actionId: Vcs.RollbackChangedLines, description: Rollback Change}
            m {actionId: Vcs.MoveChangedLinesToChangelist, description: Move to Changelist}
            s {actionId: Vcs.ShowDiffChangedLines, description: Show Diff}
            f {actionId: LocalHistory.ShowHistory, description: Show History}
        }
    }

    r {
        description: Refactor
        bindings {
            v {actionId: IntroduceVariable, description: Extract Variable}
            c {actionId: IntroduceConstant, description: Extract Constant}
            p {actionId: IntroduceParameter, description: Extract Parameter}
            i {actionId: Inline, description: Inline Call}
            r {actionId: RenameElement, description: Rename}
            s {actionId: ChangeSignature, description: Change Signature}
            m {actionId: Move, description: Move symbol}
        }
    }

    c {
        description: Code
        bindings {
            o {actionId: OptimizeImports, description: Optimize imports}
            f {actionId: ReformatCode, description: Reformat}
            i {actionId: InspectCode, description: Inspect}
            q {actionId: CodeInspection.OnEditor, description: Quick Inspect}
            m {actionId: Move, description: Move}
            c {actionId: CommentByLineComment, description: Comment}
        }
    }

    b {
        description: Breakpoints
        bindings {
            e {actionId: EditBreakpoint, description: Edit}
            b {actionId: ToggleLineBreakpoint, description: Toggle}
            v {actionId: ViewBreakpoints, description: View}
            t {actionId: ToggleTemporaryLineBreakpoint, description: Temporary}
            z {actionId: Debugger.RestoreBreakpoint, description: Restore}
            w {actionId: Debugger.AddInlineWatch, description: Add Inline Watch}
            x {actionId: Debugger.RemoveAllBreakpoints, description: Remove all Breakpoints}
            d {actionId: Debugger.RemoveAllBreakpointsInFile, description: Remove Breakpoints in File}
            m {actionId: XDebugger.MuteBreakpoints, description: Mute Breakpoints}
        }
    }

    m {
        description: Bookmarks
        bindings {
            m {actionId: ToggleBookmark, description: Toggle}
            n {actionId: ToggleBookmarkWithMnemonic, description: Named Bookmark}
            w {actionId: ActivateBookmarksToolWindow, description: Bookmarks Window}
            s {actionId: ShowBookmarks, description: Show Bookmarks}
        }
    }

    d {
        description: Debugging Actions
        bindings {
            o {actionId: Resume, description: Step Over}
            i {actionId: Resume, description: Step Into}
            u {actionId: Resume, description: Step Out}
            r {actionId: Resume, description: Run to Cursor}
            s {actionId: Resume, description: Resume}
            e {actionId: Resume, description: Evaluate}
        }
    }

    t {
        description: Tasks
        bindings {
            o {actionId: tasks.switch, description: Open}
            s {actionId: tasks.goto, description: Switch}
            e {actionId: tasks.edit, description: Edit}
            x {actionId: tasks.close, description: Close}
        }
    }

    j {
        description: Jump
        bindings {
            s {actionId: FileStructurePopup, description: Show File Structure}
            r {actionId: RecentLocations, description: Recent Locations}
            h {actionId: Back, description: Back}
            l {actionId: Forward, description: Forward}
            d {actionId: GotoDeclaration, description: Go to Declaration}
            i {actionId: GotoImplementation, description: Go to Implementation}
            m {actionId: GotoSuperMethod, description: Go to super method}
            c {actionId: CopyReference, description: Copy reference}
        }
    }

    e {
      description: Errors
      bindings {
            j {actionId: GotoNextError, description: Next Error}
            k {actionId: GotoPrevError, description: Previous Error}
            h {actionId: ShowErrorDescription, description: Error Description}
        }
    }
    p {
        description: Presentation
        bindings {
            r {actionId: CollapseAllRegions, description: Collapse All Regions}
            e {actionId: ExpandAllRegions, description: Expand All Regions}
            a {actionId: Annotate, description: Annotate Git Blame}
            d {actionId: ToggleDistractionFreeMode, description: Distraction Free Mode}
            f {actionId: ToggleFullScreen, description: Fullscreen Mode}
            l {actionId: EditorToggleUseSoftWraps, description: Line Soft Wrapping}
            n {actionId: EditorToggleShowLineNumbers, description: Line Numbers}
            p {actionId: TogglePresentationMode, description: Presentation Mode}
            z {actionId: ToggleZenMode, description: Zen Mode}
            w {actionId: HideAllWindows, description: Show/Hide All Windows}
      }
    }
    o {
      description: Open Tool...
      bindings {
        B {actionId: ViewBreakpoints, description: Breakpoints}
        f {actionId: ActivateFavoritesToolWindow, description: Favorites}
        p {actionId: ActivateProjectToolWindow, description: Project}
        r {actionId: ActivateRunToolWindow, description: Run}
        t {actionId: ActivateTerminalToolWindow, description: Terminal}
        v {actionId: Vcs.Show.Log, description: Vcs}
      }
    }

}
