# This file is written in HOCON (Human-Optimized Config Object Notation) format. 
# For more information about HOCON see https://github.com/lightbend/config/blob/master/HOCON.md

bindings {
    q { 
        description: Plugins
        bindings {
             a {actionId: OpenAtamanConfigAction, description: Open ~/.atamanrc.config}
             q {actionId: ReloadAtamanConfigAction, description: Reload ~/atamanrc.config}
             v {actionId: IdeaVim.ReloadVimRc.reload, description: Reload vimrc}
             i {actionId: VimFindActionIdAction, description: Track Action IDs}
        }
    }

    g {
        description: Git
        bindings {
            b {actionId: Git.Branches, description: Branches}
            r {actionId: Git.Rebase, description: Rebase}
            p {actionId: Vcs.Push, description: Push}
            c {actionId: CheckInProject, description: Commit}
            z {actionId: ChangesView.Revert, description: Rollback}
            u {actionId: Vcs.UpdateProject, description: Update}
            P {actionId: Bitbucket.CreatePullRequest, description: Update}
        }
    }

    i {
        description: Splits
        bindings {
            o {actionId: MoveTabRight, description: Split and move right}
            i {actionId: SplitVertically, description: Split vertically}
            t {actionId: MoveEditorToOppositeTabGroup, description: Transfer tab}
            u {actionId: Unsplit, description: Unsplit}
            j {actionId: NextSplitter, description: Next Splitter}
            k {actionId: PrevSplitter, description: Previous Splitter}
        }
    }

    v {
        description: View
        bindings {
            i {actionId: QuickImplementations, description: Implementation}
            t {actionId: QuickTypeDefinition, description: Type Definition}
            d {actionId: QuickJavaDoc, description: Documentation}
            p {actionId: ParameterInfo, description: Parameters}
            u {actionId: ShowUsages, description: Usages}
            h {actionId: CallHierarchy, description: Callers}
        }
    }

    w {
        description: Windows and Tabs
        bindings {
            w {actionId: CloseContent, description: Close}
            q {actionId: CloseAllEditors, description: Close All}
            r {actionId: CloseAllEditorsButActive, description: Close Other}
            j {actionId: NextTab, description: Next Tab}
            k {actionId: PreviousTab, description: Previous Tab}
            z {actionId: ReopenClosedTab, description: Reopen Tab}
            t {actionId: NewScratchBuffer, description: Scratch Buffer}
        }
    }

    s {
        description: Search
        bindings {
            f {actionId: GotoFile, description: Files}
            c {actionId: GotoClass, description: Classes}
            s {actionId: GotoSymbol, description: Symbols}
        }
    }

    u {
        description: Run and Debug
        bindings {
            e {actionId: ExecuteInPyConsoleAction, description: Run in Python console}
            u {actionId: Run, description: Run}
            U {actionId: RunClass, description: Run Code}
            r {actionId: Rerun, description: Rerun}
            s {actionId: Resume, description: Resume}
        }
    }

    f {
        description: File
        bindings {
            b {actionId: ShowNavBar, description: Show Navbar}
            o {actionId: OpenFile, description: Open}
            f {actionId: RecentFiles, description: Recent}
            p {actionId: SelectInProjectView, description: Select In Project View}
        }
    }

    h {
        description: File History
        bindings {
            h {actionId: VcsShowCurrentChangeMarker, description: Current Change}
            c {actionId: RecentChanges, description: Recent Changes}
            j {actionId: VcsShowNextChangeMarker, description: Next Change}
            k {actionId: VcsShowPrevChangeMarker, description: Previous Change}
            z {actionId: Vcs.RollbackChangedLines, description: Rollback Change}
            m {actionId: Vcs.MoveChangedLinesToChangelist, description: Move to Changelist}
            s {actionId: Vcs.ShowDiffChangedLines, description: Show Diff}
        }
    }

    r {
        description: Refactor
        bindings {
            v {actionId: IntroduceVariable, description: Extract Variable}
            c {actionId: IntroduceConstant, description: Extract Constant}
            p {actionId: IntroduceParameter, description: Extract Parameter}
            i {actionId: Inline, description: Inline Call}
            r {actionId: RenameElement, description: Rename}
        }
    }

    c {
        description: Code
        bindings {
            o {actionId: OptimizeImports, description: Optimize imports}
            f {actionId: ReformatCode, description: Reformat}
            i {actionId: InspectCode, description: Inspect}
            q {actionId: CodeInspection.OnEditor, description: Quick Inspect}
            m {actionId: Move, description: Move}
        }
    }

    b {
        description: Breakpoints
        bindings {
            e {actionId: EditBreakpoint, description: Edit}
            b {actionId: ToggleLineBreakpoint, description: Toggle}
            v {actionId: ViewBreakpoints, description: View}
        }
    }

    m {
        description: Bookmarks
        bindings {
            m {actionId: ToggleBookmark, description: Toggle}
            w {actionId: ActivateBookmarksToolWindow, description: Bookmarks Window}
            s {actionId: ShowBookmarks, description: Show Bookmarks}
        }
    }

    d {
        description: Debugging Actions
        bindings {
            o {actionId: Resume, description: Step Over}
            i {actionId: Resume, description: Step Into}
            u {actionId: Resume, description: Step Out}
            r {actionId: Resume, description: Run to Cursor}
            s {actionId: Resume, description: Resume}
            e {actionId: Resume, description: Evaluate}
        }
    }

    t {
        description: Tasks
        bindings {
            o {actionId: tasks.switch, description: Open}
            s {actionId: tasks.goto, description: Switch}
            e {actionId: tasks.edit, description: Edit}
            x {actionId: tasks.close, description: Close}
        }
    }

    j {
        description: Jump
        bindings {
            s {actionId: FileStructurePopup, description: Show File Structure}
            l {actionId: RecentLocations, description: Recent Locations}
        }
    }
}
